//custom variables
$primary: #fff;
$secondary: #9ee493;
$warning: #db222a;
$info: #212121;
$light: #d4dccd;
$dark: #1d2c35;

//import bootstrap
@import "../bootstrap-5.0.2-dist/scss/bootstrap";
